---
layout: default
title: Home
---

{% if page.url == "/" %}
<div class="article-post">
    <p>A guy who loves making software. <a href="{{ site.baseurl }}/about">About Me</a>.</p>
    <p>I now write at: <a href="https://www.bansalanuj.com/">bansalanuj.com</a>.</p>
</div>
<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
        
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}
        
    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    
    <div class="section-title">
        
        <h2><span>All Stories</span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

               {% include postbox.html %}          

        {% endfor %}
        
    </div>
    
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup">
    <i class="fa fa-caret-up"></i>
</div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

